---
interface Props {
  type?: 'info' | 'warning' | 'tip' | 'danger';
}

const { type = 'info' } = Astro.props;

const styles = {
  info: {
    wrapper: 'bg-blue-50 border-blue-400',
    icon: 'text-blue-500',
    content: 'text-blue-900',
  },
  warning: {
    wrapper: 'bg-amber-50 border-amber-400',
    icon: 'text-amber-500',
    content: 'text-amber-900',
  },
  tip: {
    wrapper: 'bg-emerald-50 border-emerald-400',
    icon: 'text-emerald-500',
    content: 'text-emerald-900',
  },
  danger: {
    wrapper: 'bg-red-50 border-red-400',
    icon: 'text-red-500',
    content: 'text-red-900',
  },
};

const s = styles[type];
---

<div class:list={['border-l-4 rounded-r-lg px-4 py-3 my-4 flex gap-3 items-start', s.wrapper]}>
  <div class:list={['shrink-0 mt-0.5', s.icon]}>
    {type === 'info' && (
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
      </svg>
    )}
    {type === 'warning' && (
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
      </svg>
    )}
    {type === 'tip' && (
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path d="M10 1a6 6 0 0 0-3.815 10.631C7.237 12.5 8 13.443 8 14.456v.644a.75.75 0 0 0 .572.729 6.016 6.016 0 0 0 2.856 0A.75.75 0 0 0 12 15.1v-.644c0-1.013.762-1.957 3.815-2.825A6 6 0 0 0 10 1ZM8.863 17.414a.75.75 0 0 0-.226 1.483 9.066 9.066 0 0 0 2.726 0 .75.75 0 0 0-.226-1.483 7.553 7.553 0 0 1-2.274 0Z" />
      </svg>
    )}
    {type === 'danger' && (
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
      </svg>
    )}
  </div>
  <div class:list={['flex-1 text-sm leading-relaxed [&>p]:my-0', s.content]}>
    <slot />
  </div>
</div>
